@page
@model Prueba_ASPNET_Core.Pages.ToDoTask.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTasks[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTasks[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTasks[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTasks[0].Prority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTasks[0].IsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDoTasks[0].category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToDoTasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TaskId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TaskId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
